<div class="w-100 d-flex justify-content-between mt-2 ">

   <div class="d-flex flex-column gap-2">

    <div>
        <img src="../../assets/footer.svg" width="40px" height="40px" alt="">
    </div>
    <div>© 2017–2023</div>
   </div>
   <div class="d-flex flex-column gap-1">

    <div class="fw-bold fs-4">Features</div>
    <div class="opacity-75 lead fw-normal">Cool Stuff</div>
    <div class="opacity-75 lead fw-normal">Random feature</div>
    <div class="opacity-75 lead fw-normal">Team feature</div>
    <div class="opacity-75 lead fw-normal">Stuff for developers</div>
    <div class="opacity-75 lead fw-normal">Another one</div>
    <div class="opacity-75 lead fw-normal">Last time</div>

   </div>
   <div class="d-flex flex-column gap-1">

    <div class="fw-bold fs-4">Resources</div>
    <div class="opacity-75 lead fw-normal">Resource</div>
    <div class="opacity-75 lead fw-normal">Resource name</div>
    <div class="opacity-75 lead fw-normal">Another resource</div>
    <div class="opacity-75 lead fw-normal">Final resource</div>


   </div>
   <div class="d-flex flex-column gap-1">

    <div class="fw-bold fs-4">About </div>
    <div class="opacity-75 lead fw-normal">Team</div>
    <div class="opacity-75 lead fw-normal">Locations</div>
    <div class="opacity-75 lead fw-normal">Privacy</div>
    <div class="opacity-75 lead fw-normal">Terms</div>
   </div>
</div>
