<table class="table ">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" class="th" >Free</th>
        <th scope="col" class="th">Pro</th>
        <th scope="col" class="th">Enterprise</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <th scope="row">Public</th>
          <td><img src="../../assets/check-solid.svg" width="20px" ></td>
          <td><img src="../../assets/check-solid.svg" width="20px" ></td>
          <td><img src="../../assets/check-solid.svg" width="20px" ></td>
        </tr>
        <tr>
          <th scope="row">Private</th>
          <td></td>
          <td><img src="../../assets/check-solid.svg" width="20px" ></td>
          <td><img src="../../assets/check-solid.svg" width="20px" ></td>
        </tr>
        <tr>
          <th scope="row">Permissions</th>
          <td><img src="../../assets/check-solid.svg" width="20px" ></td>
          <td><img src="../../assets/check-solid.svg" width="20px" ></td>
          <td><img src="../../assets/check-solid.svg" width="20px" ></td>
        </tr>
        <tr>
            <th scope="row">Sharing</th>
            <td></td>
            <td><img src="../../assets/check-solid.svg" width="20px" ></td>
            <td><img src="../../assets/check-solid.svg" width="20px" ></td>
          </tr>
          <tr>
            <th scope="row">Unlimited members</th>
            <td></td>
            <td><img src="../../assets/check-solid.svg" width="20px" ></td>
            <td><img src="../../assets/check-solid.svg" width="20px" ></td>
          </tr>
          <tr>
            <th scope="row">Extra security</th>
            <td></td>
            <td></td>
            <td><img src="../../assets/check-solid.svg" width="20px" ></td>
          </tr>
      </tbody>
  </table>